:root {
    box-sizing: border-box;
    font-size: 16px;
    --color-text-gray: #777777;
    --color-text-black: #222222;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
	font-family:'Montserrat', sans-serif;
	background-color: #d2d6de;
}
.wrap {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 1em;
}
.header-nav{
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-left: 170px;
}
.nav{
	list-style-type: none;
	display: flex;
	
}
.nav__item{
	margin-left: 40px;
}
.nav__link{
	color: var(--color-text-gray);
	text-decoration: none;
	text-transform: uppercase;
}
.nav__link:hover{
	color: var(--color-text-black);
}
.header-intro{
	background-image: url('../img/Background-header.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
	margin-top: 40px;
}
.header-intro-mask{
	background-color: rgba(0, 0, 0, 0.75);
	height: 530px;
}
.header-intro__title{
	font-size: 3.75rem;
	color: #ffffff;
	padding-top: 120px;
	text-transform: uppercase;
	line-height: 1.3;
	text-align: center;
}
.header-intro__desc{
	color: #ffffff;
	text-align: center;
}

.header-intro__btn {
  font-weight: 520;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background-color: #3c8dbc;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 155px;
  padding-left: 50px;
  margin-top: 100px;
} 
.header-intro__btn:hover {
 background-color: #ffffff;
 color: black; 
}
.header-intro__btn:active {
  background-color: #acadac;
  box-shadow: 0 3px #acadac inset;
}
.block{
	padding-top: 100px;
	text-align: center;
}
.block__title{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5rem;
	color: var(--color-text-black);
}
.block__subtitle{
	font-family: 'Roboto Slab';
	color: var(--color-text-gray);
	margin-top: 18px;
	font-size: 1.25rem;
}
.service{
	display: flex;
	justify-content: space-between;
	padding-top: 90px; 
}
.feature{
	flex-basis: 31%;
}
.feature__title{
    text-transform: uppercase;
	font-weight: 700;
	font-size: 1.125rem;
	color: var(--color-text-black);
	margin-top: 40px;
}
.feature__desc{
    font-family: 'Roboto Slab';
	color: var(--color-text-gray);
    margin-top: 18px;
	font-size: 0.875rem;
	line-height: 1.7;
}
.relax{
	display: flex;
	height: 616px;
}
.relax__left{
	flex-basis: 30%;
	background-color: #e9e9e9;
	position: relative;
}
.relax__gear{
	background-image: url('../img/gear.png');
	background-repeat: no-repeat;
	width: 387px;
	height: 415px;
	position: absolute;
	top: 100px;
	right: -200px;
}
.relax__right{
    background-image: url('../img/background-relax.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	flex-basis: 70%;
	padding-left: 100px;
}
.relax__right-mask{
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    flex-basis: 70%;
    padding-left: 100px;
    padding-top: 20px;
    margin-left: -100px;
    height: 616px;
}
.block__title--white{
	color: white;
	margin-top: 100px;
	text-align: left;
	line-height: 1.5;
}
.block__apm{
	color: #3c8dbc;
}
.block__subtitle--left{
	text-align: left;
	font-size: 1rem;
	color: var(--color-text-gray);
	max-width: 500px;
	font-family: 'Roboto Slab';
}
.relax__list{
	list-style-type: none;
	text-align: left;
	color: white;
	margin-left: 30px;
}
.relax__item{
	position: relative;
	margin-top: 30px;
	padding-left: 20px;
	font-family: 'Roboto Slab';
	color: var(--color-text-gray);
}
.relax__item::before{
	content: '';
	background-image: url('../img/checkmark.svg');
	width: 31px;
	height: 31px;
	position: absolute;
	left: -30px;
	top: -10px;
}
.relax-intro__btn {
  font-weight: 500;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background-color: #3c8dbc;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 155px;
  margin-top: 50px;
  margin-left: 0px;
  text-transform: uppercase;
} 
.relax-intro__btn:hover {
 background-color: #ffffff;
 color: black; 
}
.relax-intro__btn:active {
  background-color: #acadac;
  box-shadow: 0 3px #acadac inset;
}
.block-project{
	position: relative;
	padding-bottom: 100px;
}
.block-project__ipad{
	position: absolute;
	background-image: url('../img/ipad.png');
	background-repeat: no-repeat;
	width: 681px;
	height: 599px;
	right: 0;
	top: 200px;
}
.project{
	text-align: left;
	max-width: 480px;
	padding-top: 90px;
}
.project__title{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.125rem;
	color: var(--color-text-black);
}
.project-list {
	padding-top: 27px;
}
.project__desc {
	font-family: 'Roboto Slab';
	color: var(--color-text-gray);
	font-size: 1rem;
	padding-top: 25px;
	padding-bottom: 30px;
}
.project-list__title{
	font-size: 1.125rem;
	color: var(--color-text-black);
}
.project-list__desc {
	font-family: 'Roboto Slab';
	color: var(--color-text-gray);
	font-size: 1rem;
}
.project-list__text{
	padding-left: 16px;
}
.project-list__item{
	display: flex;
	align-items: center;
}
.project__link{
	text-decoration: none;
	font-weight: 700;
    color: #3c8dbc;
    font-size: 1rem;
}
.project__link:hover {
 color: black; 
}
.project__link:active{
	color: var(--color-text-gray);
}
.culture {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
.wrap--position {
    position: relative;
}
.culture-line {
    position: absolute;
    display:flex;
    top:213px;
}
.culture-line__item {
    width: calc(10vw + 5rem);
    border-bottom: 2px solid var(--color-text-gray);
    margin-left: 220px;
}
.culture-line__right {
    margin-left: 150px;
}
.block--light-gray {
	background-color: #d2d6de;

    padding-bottom: 90px;
}
/* BLOCK CLIENTS */
.clients{
	padding-top: 90px;
}
.message {
	display: flex;
	align-items: center;
}
.message--right{
	flex-direction: row-reverse;
}
.m__ava{
	height: 220px;
	width: 220px;
	flex-shrink: 0;
	background-color: olive;
	border-radius: 50%;
}
.m__txt{
	max-width: 661px;
	height: 172px;
	background-image: url('../img/message-box-right.png');
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-left: 90px;
	padding-right: 30px;
	margin: 0 20px;
}
.m_txt--right{
	background-image: url('../img/message-box-left.png');
}
.message__cite{
	font-family: 'Roboto Slab';
	color: var(--color-text-gray);
	font-size: 1.375rem;
	line-height: 1.3;
}
.message__cite::before{
	content: '"';
}
.message__cite::after{
    content: '"';	
}
.message__author{
	font-family: 'Roboto Slab';
    margin-top:15px;
    font-size: 1.125rem;
    color: #3c8dbc;
}
.block--light-green{
	background-color: #3c8dbc;
	height: 250px;
	margin-top: 50px;
	position: relative;
}
.Readtalk{
	font-size: 2.5rem;
	color: white;
	text-transform: uppercase;
	padding-top: -10px;
}
.newrap{
	max-width: 1645px;
	margin: 0 auto;
}
.contactbtn{
  font-weight: 520;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 10px;
  background-color: #3c8dbc;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 155px;
  margin-top: 20px;
  border: 2px solid #ffffff;
}
.contactbtn:hover{
	background-color: #ffffff;
    color: black; 
}
.contactbtn:active{
	background-color: #acadac;
    box-shadow: 0 3px #acadac inset;
}
.block-logo{
  margin-right: 550px;
  	position: relative;
	height: 105px;
}
.block-width{
	position: relative;
	height: 165px;
}
.disp{
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    margin-top: 60px;
}
.sponsor0{
    margin-left:250px;
    margin-right:50px;
}
.sponsor1{
    margin-right:50px;
}
.sponsor2{
    margin-right:50px;
}
.sponsor3{
    margin-right:50px;
}
/* footer */
.info {
    background-color: var(--color-text-black);
    padding: 60px 0;
}
.info-column__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700px;
}
.info-column__list {
    list-style-type: none;
    margin-top: 30px;
}
.info-column__item {
    display: flex;
    align-items: center;
}
.info-column__item + .info-column__item {
    margin-top: 20px;
}
.info-column__icon {
    color: #ececec;
    width: 23px;
    margin-right: 15px;
}
.info-column__text {
    font-family: 'Roboto Slab';
    color: #ececec;
    font-size: 1rem;
    line-height: 1.5;
}
.all-info {
    display: grid;
    grid-template-columns: 290px 1fr 1fr;
    column-gap: 25px;
}
.twit-bold{
	font-family: 'Roboto Slab';
	font-weight: bold;
}
.twit-size{
	font-size: 0.75rem;
}
.copyright{
	height: 100px;
	display: flex;
	align-items: center;
	margin-left: 220px;
}
.copyright-text{
	font-size: 1rem;
	font-family: 'Roboto Slab';
	font-weight: 600;
	color: var(--color-text-gray);
	padding-left: 230px;
}
.img-footer{
	margin-left: 120px;
	background: url('../img/twitter.png');
	display: block;
	width: 41px;
	height: 41px;
}
.img-footer:hover{
	background: url('../img/twithover.png');
}
.img-footer1{
	margin-left: 10px;
	background: url('../img/facebook.png');
	display: block;
	width: 41px;
	height: 41px;
}
.img-footer1:hover{
	background: url('../img/facebookhover.png');
}
.img-footer2{
	margin-left: 10px;
	background: url('../img/pinterest.png');
	display: block;
	width: 41px;
	height: 41px;
}
.img-footer2:hover{
	background: url('../img/pinteresthover.png');
}
.img-footer3{
	margin-left: 10px;
	background: url('../img/google+.png');
	display: block;
	width: 41px;
	height: 41px;
}
.img-footer3:hover{
	background: url('../img/google+hover.png');
}

@media screen and (max-width: 768px){
	.block-project__ipad{
		display: none;
	}
	:root {
    font-size: 12px;
}
.culture-line__item{
	display: none;
}
.all-info{
	grid-template-columns: 290px 1fr;
	row-gap: 50px;
}
.relax{
	display: block;
	height: 616px;
}
.relax__left{
display: none;
}
.relax__right{
	width: 100%;
}
.relax__right-mask{
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    flex-basis: 70%;
    padding-left: 100px;
    padding-top: 20px;
    margin-left: -100px;
    height: 616px;
}
.sponsor0{
    margin-left: 0px;
    margin-right: 20px;
}
.sponsor1{
    margin-right:20px;
}
.sponsor2{
    margin-right:20px;
}
.sponsor3{
    margin-right:20px;
}

}
@media screen and (max-width: 600px){
:root {
    font-size: 12px;
}
.m__ava {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.message {
    flex-direction: column;
}
.copyright-text{
 display: none;
}
.all-info {
    grid-template-columns: 290px 1fr;
    column-gap: 50px;
}
.block-logo{
	display: none;
}
.culture-line{
  display: none;
}
.block-project__ipad {
  display:none;
}
.relax {
    display:block;
    height: 616px;
}
.relax__left {
display:none;
}

.relax__right {
width: 100%;
}
.sponsor0{
    margin-left: 0px;
    margin-right: 20px;
    max-width: 120;
    max-height: 21;
}
.sponsor1{
    margin-right:20px;
    max-width: 120;
    max-height: 21;
}
.sponsor2{
    margin-right:20px;
    max-width: 120;
    max-height: 21;
}
.sponsor3{
    margin-right:20px;
    max-width: 120;
    max-height: 21;
}
.service{
	flex-direction: column;
	width: 310px;
}
.culture{
	flex-direction: column;	
}
.header-intro__btn {
  font-weight: 520;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background-color: #3c8dbc;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 120px;
  margin-top: 20px;
} 
.header-intro__btn:hover {
 background-color: #ffffff;
 color: black; 
}
.header-intro__btn:active {
  background-color: #acadac;
  box-shadow: 0 3px #acadac inset;
}
}
@media screen and (max-width: 400px){
:root {
    font-size: 10px;
}

.nav__item{
    display:none;
}
.all-info {
    grid-template-columns: 290px;
    column-gap: 50px;
}

.info-column__title{
    margin-top: 40px;
}
.block-logo{
	display: none;
}
.copyright-text{
 display: none;
}
.m__ava{
  margin-bottom: 20px;
  margin-top: 20px;
}
.header-intro__btn {
  font-weight: 520;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background-color: #3c8dbc;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 90px;
  margin-top: 20px;
} 
.header-intro__btn:hover {
 background-color: #ffffff;
 color: black; 
}
.header-intro__btn:active {
  background-color: #acadac;
  box-shadow: 0 3px #acadac inset;
}
}

